<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <div class="bg-danger" style="height: 90vh;">
        <!-- Chatting Area -->
        <p> "개인정보 수집 및 이용동의서에 동의하십니까?" </p>
        <form action="/insurance/join/consent" method="GET">
            <button type="submit">네</button>
        </form>
        <form action="/main" method="GET">
            <button type="submit">아니오</button>
        </form>
    </div>
</table>
</body>
</html>