<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <div class="bg-danger" style="height: 90vh;">
        <!-- Chatting Area -->
        <p> 개인정보 수집이 완료되었습니다. </p>
        <p> 원하시는 보험을 입력해주세요. </p>

        <form action="/applyInsurance" method="POST">
            <label for="insuranceId">원하는 보험:</label><br>
            <input id="insuranceId" name="insuranceId" type="text"><br>
        </form>
    </div>
</table>
</body>
</html>