<!DOCTYPE html>
<html lang="kr">
<link href="/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Talk</title>
</head>
<body>
<h1> Main Page </h1>
<div>
    <form action="/insurances" method="GET">
        <button type="submit">보험 정보 보기</button>
    </form>
    <form action="/contractState" method="GET">
        <button type="submit">보험계약 상태 보기</button>
    </form>
    <form action="/admin" method="GET">
        <button type="submit">ADMIN</button>
    </form>
    <form action="/logout" method="POST">
        <button type="submit">로그아웃</button>
    </form>
</div>

</body>
</html>