<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link href="css/style.css" rel="stylesheet">-->
</head>
<body>
<div class="container">
    <div class="header"></div>
    <h1><a href="#">IGO</a></h1>
    <div class="nav">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">Health Insurance</a></li>
            <li><a href="#">Cancer Insurance</a></li>
            <li><a href="#">Driver's Insurance</a></li>
            <li><a href="#">Total Insurance</a></li>
        </ul>
    </div>
    <div class="Login">
        <h3>LOGIN</h3>
        <form action="/login" method="POST">
            ID <input id="email" name="email" placeholder="아이디를 입력해주세요." type="text"><br/>
            PASSWORD <input id="password" name="password" placeholder="비밀번호를 입력해주세요." type="password">
            <p><input name="login" type="submit" value="LOGIN"></p>
        </form>
        <form action="/signUp" method="GET">
            <button id="sign-Up-Button" type="submit">CustomerJoin</button>
        </form>
    </div>
</div>

</body>
</html>