<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="insurance : ${insuranceList}">
        <td th:text="${insurance.id}"></td>
        <td th:text="${insurance.description}"></td>
        <td th:text="${insurance.type}"></td>
        <td th:text="${insurance.name}"></td>
        <td th:text="${insurance.price}"></td>
    </tr>

    <form action="/insurance/join" method="GET">
        <button type="submit">가입신청하기</button>
    </form>
    </tbody>

</table>
</body>
</html>